@charset "UTF-8";

.reserve_container{
	position:absolute;
	top:80px;
	left:507px;
	width:910px;
	height:500px;
	background-color: #ffffff;
	margin: 15px 0 0 15px;
}

.overlay{
	width:870px;
	height:550px;
	background-color: #fff;
	border: 2px solid #666;
	border-radius: 20px;
	padding:20px;
}

.form-title{
	width:750px;
	display: inline-block;
	height: 45px;
	margin: 15px 0 5px 0px;
    line-height: 45px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    
}

.title-name{
	color: #333333;
	font-size: 18px;
  	font-weight: 600;
}

.fac-name{
	padding-left: 15px;
    margin-left: 15px;
    border-left: 2px solid #898989;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    font-family : 'Noto Sans KR', '맑은 고딕'
}

.fac-addr{
	font-size: 12px;
    padding-left: 5px;
    color: #898989;
    font-weight: 400;
    display: inline;
    line-height: 45px;
}

.step2{
	background-image: url("../images/step2.jpg");
	width: 450px;
	height:50px;
	
}

.square{
    display: inline-block;
    margin-right: 5px;
    padding: 3px;
    width: 10px;
    height: 10px;
    background-color: #dedede;
}

.terms{
	width:400px;
	margin: 0 0 100px 20px;
	
}

textarea{
	width:350px;
	height:100px;
	overflow: auto;
	resize: none;
	background-color: #ffffff;
	border: 1px solid black;
	font-size: 12px;
	font-family:Nanum Gothic;
}

.agreeContainer{
	width:450px;
	height:170px;
	display: grid;
   	grid-template-columns: 5px 60px;
   	grid-template-rows: 30px 30px;
   	margin: 30px 0 0 15px;
}

.check1{
	position: absolute;
	top:310px;
	left: 31px;
	font-size:12px;
}

.check2{
	font-size:12px;
}

.agreeFacContainer{
	width:450px;
	height:170px;
	margin:0 0 0 15px;
}

.help-text{
	padding-top: 5px;
  		padding-left: 10px;
  		margin: 0;
}

.resvChkRight{
	position: absolute;
	top: 167px;
	right:50px;
	width:450px;
	height:380px;
}

.form-table{
	border-top: 1px solid #c9c9c9;
}

table{
	border-bottom: 1px solid #c9c9c9;
  		width: 100%;
  		table-layout: fixed;
  		word-break: break-all;
  		top: 10px;
  		position: relative;
  		border-collapse: collapse;
}

.row-title{
	background-color: #f2f2f2;
}

tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th{
	font-size: 13px;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    vertical-align: middle;
    height: 37px;
    text-align: center;
}

td{
	font-size: 14px;
  		border-top: 1px solid #c9c9c9;
  		border-bottom: 1px solid #c9c9c9;
  		vertical-align: middle;
  		height: 62px;
  		text-align: center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.total-count{
	text-align: right;
  		padding-right: 20px;
  		padding-top: 15px;
  		font-size: 15px;
  		font-weight: 700
}

.control-label{
	margin: 20px 0 0 20px;;
}

.labels{
	padding: 10px;
}

.lb{
	font-weight: bold;
	margin-top: 25px;
}
