@charset "UTF-8";
@font-face { font-family: 'binggrae-Bold'; src:url("../fonts/Binggrae-Bold.woff") format('woff');}

.bx-wrapper .bx-controls-direction a{ z-index: 1; }
#Toggle2{
	width:60%;
	height:80%;
	background-color: #f29886;
	position: absolute;
	top:80px;
	left:300px;
	border: 0px;
	border-radius: 10px;
	overflow:auto; 
	z-index: 2
}


.schedule_title {
	text-align: center;	
	font-weight: bold;
	font-size: 30px;
	font-family: binggrae-Bold;
	margin-top: 30px;
}
.notice_title{
	text-align: center;	
	font-size: 35px;
	font-weight: 700;
}

.notice_content{
	text-align: center;
	color: #5c5c5c;
}

.button{
	background-color: none;
	font-size: 30px;
}

.resContainer{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 15px;
}

input[type="datetime-local" i]{
	width:175px;
	margin-right: 20px;
	border-radius: 5px;
}

input[type="button" i]{
	width:80px;
	border-radius: 5px;
	background-color: #fff;
	font-weight: 700;
}

input {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.8rem;
  display: block;
  padding: 0.5rem 1rem;
  
}

.form-style-3{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: 90px;
}
.form-style-3 label{
	display:block;
	margin: 0 0 10px 30px;
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color: #F072A9;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
	width: 700px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 20px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	background: #FFF4F4;
	box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
.form-style-3 fieldset legend{
	color: #FFA0C9;
	border-top: 1px solid #FFD2D2;
	border-left: 1px solid #FFD2D2;
	border-right: 1px solid #FFD2D2;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}

.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #F072A9;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width:50%;
	
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	float:right;
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
	margin-left: 35px;
}
.required{
	color:red;
	font-weight:normal;
}

.img{
	width: 150px;
	height:150px;
	background-size: 150px 150px;
	border-radius:40%;
}
label{
	width:480px;
	margin-left: 200px;
}

.infoBody{ margin-left: 200px; }
	